
<div class="footer  container-fluid Sticky footer "  id="footer">
    <div class="row">
      <div class="col-sm">
        <a id="contact" class="nav-item nav-link">CONTACT US</a>
        <p>
          Call: 91-40-678686061 / 62 / 63<br>
          Email: info@2Learn.com<br>
          Visit: 1st Floor, Block – B,<br>
          Telephone Towers,
          Hitech City,
          Hyderabad, Telangana</p>
      </div>
      <div class="col-sm" id = "contactUs">
        
        <a class="nav-item nav-link" id="aboutus">ABOUT US</a>
        <p>University course application Ltd | © 2022 @2Learn </p>
      </div>
      <div class="col-sm">
        <p style="text-align: center; color: rgb(27, 107, 255);">FOLLWO US ON</p>
        <ul >
        <ul><a href="https://www.facebook.com/" class="bi bi-facebook"></a></ul>
        <ul> <a href="https://twitter.com/login?lang=en" class="bi bi-twitter"></a></ul>
        <ul> <a href="https://www.google.com/" class="bi bi-google"></a></ul>
        <ul> <a href="#" class="bi bi-youtube"></a></ul>
      </ul>
      </div>
    </div>
  </div>
