<div class="container-fluid" style="margin-top: 15px;" >
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        
        <img src="./assets/addd2.jpg"  style="width:100%; height: 500px" >
        <div class="top-left">INSPIRATION,INOVATION AND DISCOVEROY</div>
      </div>
      <div class="carousel-item">
        <img src="./assets/nwe2.jpg" style="width:100%; height: 500px" >
        <div class="bottom-left">SERENE CAMPUS ENVIRONMENT FOR HOLISTIC DEVLOPMENT</div>
      </div>
      <div class="carousel-item">
        <img src="./assets/addd1.jpg" style="width:100%; height: 500px">
        <div class="top-left">INVESTING IN KNOWLAGE</div>
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
<div class="container-fluid" id="getstarted" >
  <h2>Trusted by Over 6000+ Students</h2>
  <p>Join our community of students around the world helping you succeed.</p>
        <button class="serch" routerLink="login">Get Started</button>
</div>

<div class="container-fluid" id="viewcourses">
  <div class="row">
    <div class="col-sm">
      <img src="./assets/new13.jpg" style="width:100%; height: 500px" >
    </div>
    <div class="col-sm">
      <div class="viewcourses">
        <h1 style="text-align: center; ">Our Featured Courses</h1>
        <p>"Knowlage is Like A Garden; If It Is Not Cultivated,It Cannot Be Harvested."</p>
        <button class="serch" routerLink="allCourse">View All Courses</button>
      </div>
    </div>
    
  </div>
</div>



<div class="container" id="aboutus">
  <h2>Few words about the University</h2>
  <p>One of the world’s premier academic and research institutions, the  University has driven new ways of 
    thinking since our 1876 founding. Today, JCU is an intellectual destination that draws
     inspired scholars to our Hyde Park and international campuses, keeping JCU at the nexus of ideas that challenge and change the world.</p>
        
</div>









   
  
