
  <h3 class="text-center mt-2">Total Cost Of Courses</h3>
  <div id="admissions" class="table-responsive mt-2">
    <table class="table table-hover text-center "> <tr style="background-color: #054d95; color: white; " >
        <th>Course Id</th>
        <th>Course Name</th>
        <th>Total Cost</th>
        <th>Total Addmission</th>
  </tr>
  <tr *ngFor="let allCost of cost">
      <td>{{allCost.courseId}}</td>
      <td>{{allCost.courseName}}</td>
      <td>{{allCost.totalCost}}</td>
      <td>{{allCost.courseAddmission}}</td>
      
  </tr>
</table>
  </div>
