<div class="signup-page">
    <form #addStaffForm = "ngForm" class="was-validated" (ngSubmit)="onSubmit(addStaffForm.value)">
      <h3>Add Staff</h3>
        <div class="form-group">
          <label for="user">Username</label>
          <label class="text-danger">*</label>
          <input type="text" class="form-control" id="user" name="username" pattern="[a-zA-Z0-9_.]*" #username = "ngModel" ngModel required >
          <div id="errorMessage" *ngIf="username.invalid && username.touched">
              <span *ngIf="username.errors?.required" class="text-danger">Username is required</span>
          </div>
        </div>
        <div class="form-group">
          <label for="userpassword">Password</label>
          <label class="text-danger">*</label><br>
          <input type="password" class="form-control" id="userpassword" name="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"  #password = "ngModel" ngModel required>
          <div id="errorMessage" *ngIf="password.invalid && password.touched">
            <span *ngIf="password.errors?.required" class="text-danger">Password is required</span>
            <span *ngIf="password.errors?.pattern" class="text-danger">password is not valid</span>
          </div>
        </div>
        <div class="form-group">
            <label for="userrepassword">Confirm password</label>
             <label class="text-danger">*</label><br>
            <input type="password" class="form-control" id="userrepassword" name="confirmpassword" #confirmPassword = "ngModel" ngModel required>
            <div id="errorMessage" *ngIf="confirmPassword.touched">
             <span *ngIf="confirmPassword.errors?.required" class="text-danger">Confirm Password is required</span><br>
             <span *ngIf="confirmPassword != password" class="text-danger">Password is not matching</span>
         </div>
        </div>
        <button type="submit" [disabled]="addStaffForm.invalid" class="btn btn-primary">Submit</button>
      </form>
</div>