<div class="container">
<div class="row">
    <div class="col-sm-6">
        <img src="./assets/course.jpg" style="width: 400px; display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%; " alt="">
    </div>
    <div class="col-sm-6">
        <div class=" container">
        <div class="row">
            <br />
            <div class="col text-center">
                <h2>Staff and Committee Member Count</h2>
            </div>
        </div>
        <div class="row text-center">

            <div class="col">
                <div class="counter">
                    <i class="fa fa-lightbulb-o fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="11900" data-speed="1500">{{universityStaffMembers}}</h2>
                    <h4 >Staff Members</h4>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa fa-bug fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="157" data-speed="1500">{{committeeMembers}}</h2>
                    <h4>Committee Members</h4>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<br>
<br>

<div class="row">
    <div class="col-sm-6">
        <div class=" container">
            <div class="row">
                <br />
                <div class="col text-center">
                    <h2>Admissions and Courses Count</h2>
                </div>
            </div>
        <div class="row text-center">
            <div class="col">
                <div class="counter">
                    <i class="fa fa-code fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="100" data-speed="1500">{{admissions}}</h2>
                    <h4>Admissions</h4>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa fa-coffee fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="1700" data-speed="1500">{{courses}}</h2>
                    <h4>Courses</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6" >

        <img src="./assets/books.jpg" style="width: 400px; display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%; " alt="">



</div>
</div>
</div>