<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="text-center mt-5">
            <h1>Welcome, {{applicant.applicantName}} </h1>
            <!-- <h3> Your application is under scrutiny </h3> -->
            <h3>Your Application Status is : {{applicant.status}}</h3>
        <!-- <br>
        We will update your confirmed status after 16/09/21 -->   
        </div>
    </div>
    
</body>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</html>